BASE_PATH=G:/kospi200-project
DART_API_KEY=your_dart_api_key_here
FRED_API_KEY=your_fred_api_key_here
KRX_USER_ID=your_krx_user_id_here
KRX_PASSWORD=your_krx_password_here
KIS_API_KEY=your_kis_api_key_here
KIS_SECRET_KEY=your_kis_secret_key_here
