POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERPASSWORD=change_me_super

APP_DB_NAME=app
APP_DB_USER=app_user
APP_DB_PASSWORD=change_me_app

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_minio
MINIO_PUBLIC_BUCKET=assets
MINIO_PRIVATE_BUCKET=private
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
