POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERPASSWORD=change_me_super

DEV_DB_NAME=app_dev
DEV_DB_USER=app_dev_user
DEV_DB_PASSWORD=change_me_dev

PROD_DB_NAME=app_prod
PROD_DB_USER=app_prod_user
PROD_DB_PASSWORD=change_me_prod
