DEPLOY_ENV=dev-frontend
COMPOSE_PROJECT_NAME=sallae-dev-frontend
APP_NETWORK_NAME=sallae-dev-frontend-net
NGINX_PORT=8081
SPRING_PROFILE=dev
JAVA_TOOL_OPTIONS=-Xms256m -Xmx1024m

APP_DB_NAME=app
APP_DB_USER=app_user
APP_DB_PASSWORD=change_me_app
