DEPLOY_ENV=develop
COMPOSE_PROJECT_NAME=sallae-develop
APP_NETWORK_NAME=sallae-develop-net
NGINX_PORT=8084
SPRING_PROFILE=dev
JAVA_TOOL_OPTIONS=-Xms256m -Xmx1024m

APP_DB_NAME=app
APP_DB_USER=app_user
APP_DB_PASSWORD=change_me_app
KIS_MODE=paper
KIS_APP_KEY=
KIS_APP_SECRET=
KIS_ACCOUNT_NO=
KIS_ACCOUNT_PRODUCT_CODE=
KIS_REFRESH_MARGIN_SECONDS=120
KIS_TIMEOUT_SECONDS=8
KIS_RETRY_ATTEMPTS=1
KIS_RETRY_BACKOFF_MILLIS=250
KIS_REALTIME_SUBSCRIPTION_TTL_MINUTES=30
KIS_REALTIME_SUBSCRIPTION_ACK_TIMEOUT_SECONDS=7
