DEPLOY_ENV=develop
COMPOSE_PROJECT_NAME=sallae-develop
APP_NETWORK_NAME=sallae-develop-net
NGINX_PORT=8084
SPRING_PROFILE=dev
JAVA_TOOL_OPTIONS=-Xms256m -Xmx1024m

APP_DB_NAME=app_dev
APP_DB_USER=app_dev_user
APP_DB_PASSWORD=change_me_dev

WORKER_DB_NAME=app_dev
WORKER_DB_USER=app_dev_user
WORKER_DB_PASSWORD=change_me_dev
