DEPLOY_ENV=master
COMPOSE_PROJECT_NAME=sallae-master
APP_NETWORK_NAME=sallae-master-net
NGINX_PORT=8085
SPRING_PROFILE=prod
JAVA_TOOL_OPTIONS=-Xms512m -Xmx1536m

APP_DB_NAME=app_prod
APP_DB_USER=app_prod_user
APP_DB_PASSWORD=change_me_prod

WORKER_DB_NAME=app_prod
WORKER_DB_USER=app_prod_user
WORKER_DB_PASSWORD=change_me_prod
